
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

$background-color: rgb(245, 245, 245);
$hover-card-color: rgb(230, 230, 230);
$green: #B1E2C6;
$blue: #B1CCE2;
$black: #181818;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $background-color;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
}

// NAVIGATION //

.site-head-container {
    @include flexCenter();
    height: 100vh;
    width: 100%;
    position: absolute;
    
    // TOP NAV //
    .site-head-top {
        font-family: 'Lato';
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width: 100%;
        z-index: 101;
        .site-head-top-content {
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                color: #181818;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                // &:hover {
                //     img {
                //         animation: logo 2s linear;
                //     }
                // }
                img {
                    width: 45px;
                }
                h2 {
                    margin-left: 10px;
                }
            }
            .color-mode {
                background: transparent;
                border: none;
                display: block;
                outline: none;
                width: 30px;
            }

        }
    }


    // LEFT NAV //
    .site-head-left {
        font-family: 'Lato';
        @include flexCenter();
        width: 100%;
        height: 100%;
        z-index: 4;
        .page-info {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0 4rem;
            width: 90vh;
            display: flex;
            justify-content: space-between;
            transform: rotate(-90deg);
            transform-origin: 0 0;
            z-index: 100;
            .current-page {
                .current-page-items {
                    h2 {
                        font-size: 0.8rem;
                    }                    
                }
            }
            .header-date {
                .header-date-items {
                    @include flexCenter();
                    .date-line {
                        background-color: $black;
                        width: 30px;
                        height: 0.01rem;
                    }
                    h2 {
                        font-size: 0.8rem;
                        margin: 0 20px;
                    }
                }
            }
        }
        nav {
            @include flexCenter();
            position: absolute;
            right: 100vw;
            width: 100%;
            height: 100%;
            transition: 0.8s ease-in-out;
            background-color: $background-color;
            .navigation {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 100%;
                .nav-list {
                    margin-left: 300px;
                    .nav-elements {
                        margin: 10px;
                        list-style: none;
                        &:after {
                            position: absolute;
                            top: -100px;
                            left: 400px;
                            display: block;
                            width: 80vw;
                            height: 70vh;
                            background-repeat: no-repeat;
                            background-size: 50vh;
                        }
                        &:hover {
                            position: relative;
                        }
                        &:hover:nth-child(2):after {
                            content: "";
                            background-image: url("../images/code.png");
                        }
                        &:hover:nth-child(3):after {
                            content: "";
                            background-image: url("../images/photo.png");               
                        }
                        &:hover:nth-child(4):after {
                            content: "";
                            background-image: url("../images/music.png");                        
                        }
                        &:hover:nth-child(5):after {
                            content: "";
                            background-image: url("../images/design.jpg");
                        }
                        a {
                            font-size: 3rem;
                            text-decoration: none;
                            // &:hover {
                            //     color: rgb(71, 173, 131);
                            // }
                        }
                    }
                }         
            }
        }
        .burger {
            @include flexCenter();
            position: absolute;
            left: 0;
            margin: 0 4rem;
            height: 100%;
            background-color: transparent;
        }


    }
}

@keyframes burger{
    0% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(5px)
    }
    100% {
        transform: translateX(0)
    }
}
@keyframes logo {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(-1);
    }
    100% {
        transform: scaleY(1);
    }
}


.circle-text {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 12rem;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 4;
    &:hover{
        transform: scale(1.1);
    }
    img {
        width: 100%;
        animation: rotate 10s linear infinite;
    }
}

@keyframes rotate{
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

// BANNER //

.banner {
    height: 100vh;
    @include flexCenter();
    h1 {
        width: 80%;
        font-size: 7rem;
        font-family: 'lato';
        z-index: 3;
    }
    .banner-title-1 {
        position: absolute;
        top: 15%;
    }
    .banner-title-2 {
        position: absolute;
        top: 40%;
        left: 45%;
    }
    h3 {
        font-size: 2rem;
        position: absolute;
        top: 65%;
        left: 45%;
    }
    .banner-headshot {
        position: absolute;
        bottom: 80px;
        left: 250px;
        width: 23%;
        transform: rotateX(180deg) rotate(-180deg);
        z-index: 2;
        &::after {
            content: '';
            position: absolute;
            bottom: -50px;
            left: 0px;
            height: 25rem;
            width: 25rem;
            border-radius: 50%;
            background-color: $blue;
            z-index: -1;
        }
        img {
            width: 100%;
        }
    }
}

// HOME SECTIONS //

.home-section {
    @include flexCenter();
    flex-direction: column;
    height: 100vh;
    h3 {
        font-size: 5rem;
        margin-bottom: 2rem;
    }
    h4 {
        font-size: 3rem;
    }
    .home-mission {
        width: 80%;
        text-align: center;
    }
    .home-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .col-6 {
            width: 45%;
            img {
                width: 90%;
            }
            p {
                font-size: 2.3rem;
                margin-bottom: 1rem;
            }
            button {
                font-size: 1.1rem;
                background-color: transparent;
                color: $black;
                border: 2px solid $black;
                border-radius: 7px;
                padding: 0.75rem 2.3rem;
                box-shadow: #989898 3px 3px 5px;
                &:hover {
                    cursor: pointer;
                }
                &:active {
                    box-shadow: none;
                }
            }
        }
    }
}

// PHOTOGRAPHY PAGE //
.photo-banner {
    height: 100vh;
    @include flexCenter();
    flex-direction: column;
    h1 {
        font-size: 8rem;
        transform:translateY(-10rem);

    }
    .photo-banner-img {
        .photo-img-1 {
            height: 20rem;
            width: 15rem;
            transform: rotate(15deg) translateY(10rem);
        }
        .photo-img-2 {
            width: 20rem;
            transform: rotate(-15deg) translateY(-10rem);
        }
    }
}

.photo-collections {
    @include flexCenter();
    flex-direction: column;
    background-color: rgb(250, 247, 140);
    h2 {
        font-size: 15rem;
    }
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 40px 0;
        border-top: 4px solid;
        color: $background-color;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            background-color: $hover-card-color;
        }
        .col-2 {
            @include flexCenter();
            width: 50%;
            .img {
                width: 80%;
            }
            h4 {
                font-size: 10rem;
            }
        }
    }
}

.photo-main {
    @include flexCenter();
    flex-direction: column;
    h2 {
        font-size: 7rem;
    }

    /// PHOTO FEED ///

    .photo-feed {
        @include flexCenter();
        flex-direction: column;
        width: 100vw;
        .photo-card {
            @include flexCenter();
            width: 90%;
            height: 80vh;
            margin: 2rem 0;
            a {
                padding: 1rem;
                @include flexCenter();
                height: 100%;
                width: 100%;
                color: black;
                text-decoration: none;
                transition: 0.3s ease;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
                .photo-card-image {
                    @include flexCenter();
                    width: 40%;
                    img {
                        height: 100%;
                        width: 23vw;
                    }
                }
                .photo-card-content {
                    @include flexCenter();
                    flex-direction: column;
                    justify-content:space-around;
                    align-items: flex-start;
                    height: 40%;
                    width: 60%;
                    h4 {
                        font-size: 6rem;
                    }
                    p {
                        font-size: 4rem;
                    }
                }                
            }

        }
    }
}

// PHOTO TEMPLATE

.photo-content {
    overflow: hidden;
    .photo-banner {
        background-color: $background-color;
        height: auto;
        .photo-banner-content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            position: relative;
            top: 100px;
            h1 {
                width: 200%;
                font-size: 14rem;
                text-align: right;
            }
            h3 {
                font-size: 8rem;
                text-align: right;
            }
            .photo-image-container {
                display: flex;
                position: relative;
                right: -250px;
                margin-top: 3rem;
                .photo-image-main {
                    width: 35rem;
                    margin: 0 2rem;
                }
                .photo-image-secondary {
                    width: 35rem;
                }
            }
        }
    }
    .photo-about {
        @include flexCenter();
        width: 100%;
        .photo-content-body {
            width: 80%;
            background-color: white;

        }
    }
}




// PROGRAMMING PAGE //


.circle1, .circle2, .circle3, .circle4 {
    border-radius: 50%;
    z-index: -1;
    filter: blur(100px);
    position: fixed;
}
.circle1 {
    height: 20rem;
    width: 20rem;
    background-color: $blue;
    top: 20vh;
    left: 0%;
    animation: moveCircle2 70s ease infinite;
}
.circle2 {
    height:25rem;
    width: 25rem;
    background-color: $green;
    top: 50vh;
    left: -10%;
    animation: moveCircle1 75s ease infinite;
}
.circle3 {
    height: 20rem;
    width: 20rem;
    background-color: $blue;
    top: 50vh;
    right: -10%;
    animation: moveCircle1 75s ease infinite;
}
.circle4 {
    height: 25rem;
    width: 25rem;
    background-color: $green;
    top: 20vh;
    right: 0%;
    animation: moveCircle2 70s ease infinite;
}

@keyframes moveCircle1 {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(30vh);
    }
    75% {
        transform: translateY(-50vh);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes moveCircle2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30vh);
    }
    75% {
        transform: translateY(40vh);
    }
    100% {
        transform: translateY(0);
    }
}

.code-banner {
    @include flexCenter();
    height: 100vh;
    width: 100%;
    font-family: 'Lato';
    .code-banner-content {
        @include flexCenter();
        flex-direction: column;
        text-align: center;
        width: 70%;
        h1 {
            @include flexCenter();
            font-size: 5rem;
            background: -webkit-linear-gradient(-45deg, #99bfa9 5%,#95acbe 53%, #899eaf 91%);
            -webkit-background-clip: text;
            -webkit-text-stroke: 4px transparent;
            -webkit-text-fill-color: $background-color;
        }
    }

}

.code-main {
    @include flexCenter();
    flex-direction: column;
    h2 {
        font-size: 7rem;
    }

    /// PROJECT FEED ///

    .project-feed {
        @include flexCenter();
        flex-direction: column;
        width: 100vw;
        .project-card {
            @include flexCenter();
            width: 90%;
            height: 80vh;
            margin: 1rem 0;
            transition: 0.3s ease;
            a {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                width: 100%;
                text-decoration: none;
                color: black;
                transition: 0.2s ease;
                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
                .project-card-image {
                    @include flexCenter();
                    height: 90%;
                    width: 40%;
                    img {
                        height: 100%;
                        width: 35vw;
                    }
                }
                .project-card-content {
                    width: 50%;
                    h4 {
                        font-size: 4rem;
                        margin-bottom: 1rem;
                    }
                    p {
                        font-size: 2rem;
                    }
                }
            }

        }
    }
}

// PROGRAMMING TEMPLATE

.project-content {
    .project-banner {
        @include flexCenter();
        flex-direction: column;
        height: 100vh;
        h1 {
            font-size: 8rem;
        }
        .project-image-container {
            img {
                width: 30vw;
            }
        }
    }
    .project-about {
        @include flexCenter();
        flex-direction: column;
        background-color: transparent;
        .project-content-body {
            width: 80%;
            background-color: transparent;
            img {
                width: 200px;
                background-color: transparent;
            }
            p {
                font-size: 2rem;
            }
        }
    }
}




// DESIGN PAGE //

.design-banner {
    @include flexCenter();
    flex-direction: column;
    height: 100vh;
    // background-color: rgb(91, 182, 137);
    h1 {
        font-size: 8rem;
    }
}


.design-main {
    @include flexCenter();
    flex-direction: column;
    h2 {
        font-size: 7rem;
        margin: 3rem;
    }

    /// DESIGN FEED ///

    .design-feed {
        @include flexCenter();
        flex-wrap: wrap;
        width: 100vw;
        .design-card {
            @include flexCenter();
            width: 50%;
            margin-bottom: 2rem;
            .design-card-image {
                img {
                    width: 30vw;
                }
            }
        }
    }
}

// DESIGN TEMPLATE

.design-content {
    .design-banner {
        @include flexCenter();
        flex-direction: column;
        height: 100vh;
        h1 {
            font-size: 8rem;
        }
        .design-image-container {
            img {
                width: 30vw;
            }
        }
    }
    .design-about {
        @include flexCenter();
        flex-direction: column;
        width: 80%;
        h4 {
            font-size: 3rem;
        }
        .design-content-body {
            @include flexCenter();
            flex-direction: column;
            width: 80%;
            h6 {
                font-size: 2rem;
            }            
            img {
                width: 20vw;
            }                
            
            p {
                font-size: 2rem;
            }

        }
    }
}







// MUSIC PAGE //

.music-banner {
    @include flexCenter();
    height: 100vh;
    width: 100%;
    .banner1 {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        width: 60%;
        background-color: $blue;
        .banner1-content {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h1 {
                font-size: 6rem;
                margin-bottom: 1rem;
            }
            h4 {
                font-size: 2rem;
            }
        }
    }
    .banner2 {
        @include flexCenter();
        flex-direction: column;
        height: 100%;
        width: 40%;
        background: -webkit-linear-gradient($green, $green);
        .music-banner-mask {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            z-index: 3
        }
    }
}


.music-main {
    @include flexCenter();
    flex-direction: column;
    h2 {
        font-size: 7rem;
    }

    /// PROJECT FEED ///

    .project-feed {
        @include flexCenter();
        flex-direction: column;
        width: 100vw;
        .music-card {
            @include flexCenter();
            width: 90%;
            height: 80vh;
            margin: 1rem 0;
            transition: 0.3s ease;
            a {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                width: 100%;
                text-decoration: none;
                color: black;
                transition: 0.2s ease;
                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
                .music-card-image {
                    @include flexCenter();
                    height: 90%;
                    width: 40%;
                    img {
                        height: 100%;
                        width: 35vw;
                    }
                }
                .music-card-content {
                    width: 50%;
                    h4 {
                        font-size: 4rem;
                        margin-bottom: 1rem;
                    }
                    p {
                        font-size: 2rem;
                    }
                }
            }

        }
    }
}

.music-content {
    .music-banner {
        @include flexCenter();
        flex-direction: column;
    }
    .music-about {
        .music-content-body {
            width: 80%;
            img {
                width: 20rem;
            }
        }
    }
}


// RESUME PAGE //

.resume-banner {
    @include flexCenter();
    height: 100vh;
    width: 100%;
    .resume-banner-content {
        @include flexCenter();
        flex-direction: column;
        text-align: center;
        width: 70%;
        h2 {
            font-size: 3rem;
        }
        h4 {
            font-size: 2rem;
        }        
    }
    button {
        position: absolute;
        bottom: 25px;
        background: transparent;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }

}
.resume-section {
    @include flexCenter();
    width: 100%;
    height: 100vh;
    .resume-section-content {
        @include flexCenter();
        flex-direction: column;
        text-align: center;
        h2 {
            font-size: 5rem;
        }
    }
}
.resume-main {
    @include flexCenter();
    flex-direction: column;
    text-align: center;
    height: auto;
    h2 {
        margin: 1rem;
        font-size: 5rem;         
    }
    .experience {
        @include flexCenter();
        flex-direction: column;
        font-family: 'Lato';
        width: 100%;
        margin: 1rem 0;
        min-height: 100vh;
        .experience-header {
            @include flexCenter();
            flex-direction: column;
            height: 30vh;
            h3 {
                font-size: 3.5rem;
                margin-bottom: 1rem;
            }
            h4 {
                font-size: 2.5rem;
            }            
        }
        .experience-content {
            @include flexCenter();
            width: 100%;
            .experience-description {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 90%;
                .experience-description-content {
                    margin: 1rem 0;
                    width: 45%;
                    @include flexCenter();
                    flex-direction: column;
                    h4 {
                        font-size: 2.5rem;
                    }
                    ul {
                        text-align: left;
                        li {
                            font-size: 2.5rem;
                            margin: 1.5rem 0;
                            overflow: hidden;
                            list-style: square;
                            span {
                                display: block;
                                // transform: translateY(200%);
                                &:active {
                                    transform: translateY(0%);
                                    transition: 1s ease-out;
                                }
                            }

                        }
                    }
                    .skills {
                        @include flexCenter();
                        flex-wrap: wrap;
                        li {
                            list-style: none;
                            font-size: 1.15rem;
                            padding: 10px 10px;
                            border: rgb(210, 210, 210) 1px solid;
                            border-radius: 5px;
                            margin: 10px 10px;
                            font-weight: 1500;
                        }
                    }
                }

            }
        }


    }
}


// CONTACT //

.contact-main {
    width: 100%;
    height: 100vh;
    h1 {
        @include flexCenter();
        height: 40%;
        width: 100%;
        font-size: 6rem;
    }
    .contact-content {
        @include flexCenter();
        height: 60%;
        width: 100%;
        .contact-col-6 {
            width: 50%;
            form {
                @include flexCenter();
                flex-direction: column;
                .contact-input {
                    label {
                        color: $black;
                        display: block;
                        font-size: 0.9em;
                        margin: 0;
                        input, select, textarea {
                            color: $black;
                            border: none;
                            border: solid 1px $black;
                            background-color: transparent;
                            text-decoration: none;
                            padding: 1rem 0.5rem;
                            margin: 1rem 0;
                        }
                    }                
                }            
            }
        }
    }
}



// RESPONSIVENESS

@media only screen and (max-width: 1000px) {
// BANNER //
.banner {
    h1 {
        position: relative;
        left: 50px;
        width: 70%;
        font-size: 4rem;
    }
    .banner-headshot {
        position: absolute;
        bottom: 80px;
        right: 150px;
        width: 40%;
    }
}


.site-head-container {
    // LEFT NAV //
    .site-head-left {
        nav {
            .navigation {
                .nav-list {
                    margin-left: 150px;
                }         
            }
        }
    }
}

}