
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

$background-color: rgb(255, 242, 224);
$hover-card-color: rgb(254, 235, 210);
$green: rgb(91, 182, 137);
$blue: rgb(39, 63, 116);
$black: #181818;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
}

// NAVIGATION //

.site-head-container {
    @include flexCenter();
    height: 100vh;
    width: 100%;
    position: absolute;
    
    // TOP NAV //
    .site-head-top {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5rem;
        width: 100%;
        z-index: 101;
        .logo {
            color: #181818;
            text-decoration: none;
        }
        .color-mode {
            background: transparent;
            border: none;
            display: block;
            outline: none;
            width: 30px;
        }
    }


    // LEFT NAV //
    .site-head-left {
        // position: fixed;
        @include flexCenter();
        width: 100%;
        height: 100%;
        z-index: 4;
        .page-info {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0 4rem;
            width: 90vh;
            display: flex;
            justify-content: space-between;
            transform: rotate(-90deg);
            transform-origin: 0 0;
            z-index: 100;
            .current-page {
                .current-page-items {
                    h2 {
                        font-size: 0.8rem;
                    }                    
                }
            }
            .header-date {
                .header-date-items {
                    @include flexCenter();
                    .date-line {
                        background-color: #181818;
                        width: 30px;
                        height: 0.01rem;
                    }
                    h2 {
                        font-size: 0.8rem;
                        margin: 0 20px;
                    }
                }
            }
        }
        nav {
            @include flexCenter();
            position: absolute;
            right: 100vw;
            width: 100%;
            height: 100%;
            transition: 0.8s ease-in-out;
            background-color: $background-color;
            .navigation {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 100%;
                .nav-list {
                    margin-left: 300px;
                    .nav-elements {
                        margin: 10px;
                        list-style: none;
                        &:after {
                            position: absolute;
                            top: -100px;
                            left: 400px;
                            display: block;
                            width: 80vw;
                            height: 50vh;
                            background-repeat: no-repeat;
                            background-size: 50vh;
                        }
                        &:hover {
                            position: relative;
                        }
                        &:hover:nth-child(2):after {
                            content: "";
                            background-image: url("../images/design.jpg");
                        }
                        &:hover:nth-child(3):after {
                            content: "";
                            background-image: url("../images/photo.jpg");                        
                        }
                        &:hover:nth-child(4):after {
                            content: "";
                            background-image: url("../images/guitar.jpg");                        
                        }
                        &:hover:nth-child(5):after {
                            content: "";
                            background-image: url("../images/design.jpg");
                        }
                        a {
                            font-size: 3rem;
                            text-decoration: none;
                            // &:hover {
                            //     color: rgb(71, 173, 131);
                            // }
                        }
                    }
                }         
            }
        }
        .burger {
            @include flexCenter();
            position: absolute;
            left: 0;
            margin: 0 4rem;
            height: 100%;
            background-color: transparent;
            // z-index: 100;
        }


    }
}

@keyframes burger{
    0% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(5px)
    }
    100% {
        transform: translateX(0)
    }
}


.circle-text {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 12rem;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 4;
    &:hover{
        transform: scale(1.1);
    }
    img {
        width: 100%;
        animation: rotate 10s linear infinite;
    }
}

@keyframes rotate{
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

// BANNER //

.banner {
    height: 100vh;
    @include flexCenter();
    h1 {
        width: 80%;
        font-size: 8rem;
        font-family: 'lora';
        -webkit-text-stroke: 1px;
        -webkit-text-fill-color: transparent;
        z-index: 3;
    }
    .banner-headshot {
        position: absolute;
        bottom: 80px;
        right: 150px;
        width: 30%;
        z-index: 2;
        img {
            width: 100%;
        }
    }
}

// HOME SECTIONS //

.home-section {
    @include flexCenter();
    flex-direction: column;
    height: 100vh;
    h4 {
        font-size: 6rem;
        -webkit-text-stroke: 1px;
        -webkit-text-fill-color: transparent;
    }
    .home-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .col-6 {
            width: 40%;
            img {
                width: 15rem;
            }
            p {
                font-size: 2.3rem;
            }
            button {
                font-size: 1.1rem;
                background-color: transparent;
                color: $green;
                border: 2px solid $green;
                padding: 0.75rem 2.3rem;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
.home-photo, .home-music {
    background-color: $background-color;
}

// PHOTOGRAPHY PAGE //
.photo-banner {
    height: 100vh;
    @include flexCenter();
    // background-color: ;
    h1 {
        font-size: 8rem;
        -webkit-text-stroke: 1px;
        -webkit-text-fill-color: transparent;
    }
}

.photo-collections {
    @include flexCenter();
    flex-direction: column;
    background-color: rgb(250, 247, 140);
    h2 {
        font-size: 15rem;
    }
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 40px 0;
        border-top: 4px solid;
        color: white;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: $background-color;
            background-color: $black;
        }
        .col-2 {
            @include flexCenter();
            width: 50%;
            .img {
                width: 80%;
            }
            h4 {
                font-size: 10rem;
            }
        }
    }
}

.photo-main {
    @include flexCenter();
    flex-direction: column;
    h2 {
        font-size: 7rem;
        -webkit-text-stroke: 1px;
        -webkit-text-fill-color: transparent;
    }

    /// PHOTO FEED ///

    .photo-feed {
        @include flexCenter();
        flex-direction: column;
        width: 100vw;
        .photo-card {
            @include flexCenter();
            width: 90%;
            height: 80vh;
            margin: 2rem 0;
            a {
                padding: 1rem;
                @include flexCenter();
                height: 100%;
                width: 100%;
                color: black;
                text-decoration: none;
                transition: 0.3s ease;
                &:hover {
                    cursor: pointer;
                    color: $background-color;
                    background-color: $black;
                }
                .photo-card-image {
                    @include flexCenter();
                    width: 40%;
                    img {
                        height: 100%;
                        width: 23vw;
                    }
                }
                .photo-card-content {
                    @include flexCenter();
                    flex-direction: column;
                    justify-content:space-around;
                    align-items: flex-start;
                    height: 40%;
                    width: 60%;
                    h4 {
                        font-size: 6rem;
                        -webkit-text-stroke: 1px;
                        -webkit-text-fill-color: transparent;
                    }
                    p {
                        font-size: 4rem;
                    }
                }                
            }

        }
    }
}

// PHOTO TEMPLATE

.photo-content {
    .photo-banner {
        background-color: white;
        height: 200vh;
        .photo-banner-content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            position: relative;
            top: 100px;
            h1 {
                width: 200%;
                font-size: 14rem;
                text-align: right;
            }
            h3 {
                font-size: 8rem;
                text-align: right;
            }
            .photo-image-container {
                display: flex;
                position: relative;
                right: -250px;
                margin-top: 3rem;
                .photo-image-main {
                    width: 35rem;
                    margin: 0 2rem;
                }
                .photo-image-secondary {
                    width: 35rem;
                }
            }
        }
    }
    .photo-about {
        @include flexCenter();
        width: 100%;
        .photo-content-body {
            width: 80%;
            img {
                height: 100%;
                width: 300px;
            }
        }
    }
}




// PROGRAMMING PAGE //

.code-banner {
    @include flexCenter();
    flex-direction: column;
    height: 100vh;
    // background-color: rgb(91, 182, 137);
    h1 {
        font-size: 8rem;
        -webkit-text-stroke: 1px;
        -webkit-text-fill-color: transparent;
    }
    h4 {
        width: 80%;
        font-size: 2rem;
    }
}

.code-main {
    @include flexCenter();
    flex-direction: column;
    h2 {
        font-size: 7rem;
        -webkit-text-stroke: 1px;
        -webkit-text-fill-color: transparent;
    }

    /// PROJECT FEED ///

    .project-feed {
        @include flexCenter();
        flex-direction: column;
        width: 100vw;
        .project-card {
            @include flexCenter();
            width: 90%;
            height: 80vh;
            margin: 1rem 0;
            transition: 0.3s ease;
            a {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                width: 100%;
                text-decoration: none;
                color: black;
                transition: 0.2s ease;
                &:hover {
                    background-color: $hover-card-color;
                    cursor: pointer;
                }
                .project-card-image {
                    @include flexCenter();
                    height: 90%;
                    width: 40%;
                    img {
                        height: 100%;
                        width: 35vw;
                    }
                }
                .project-card-content {
                    width: 50%;
                    h4 {
                        font-size: 4rem;
                        margin-bottom: 1rem;
                    }
                    p {
                        font-size: 2rem;
                    }
                }
            }

        }
    }
}

// PROGRAMMING TEMPLATE

.project-content {
    .project-banner {
        @include flexCenter();
        flex-direction: column;
        height: 100vh;
        h1 {
            font-size: 8rem;
            -webkit-text-stroke: 1px;
            -webkit-text-fill-color: transparent;
        }
        .project-image-container {
            img {
                width: 30vw;
            }
        }
    }
    .project-about {
        @include flexCenter();
        flex-direction: column;
        .project-content-body {
            width: 80%;
            background-color: transparent;
            img {
                width: 200px;
            }
            p {
                font-size: 2rem;
            }
        }
    }
}




// DESIGN PAGE //

.design-banner {
    @include flexCenter();
    flex-direction: column;
    height: 100vh;
    // background-color: rgb(91, 182, 137);
    h1 {
        font-size: 8rem;
        -webkit-text-stroke: 1px;
        -webkit-text-fill-color: transparent;
    }
}


.design-main {
    @include flexCenter();
    flex-direction: column;
    h2 {
        font-size: 7rem;
        -webkit-text-stroke: 1px;
        -webkit-text-fill-color: transparent;
        margin: 3rem;
    }

    /// DESIGN FEED ///

    .design-feed {
        @include flexCenter();
        flex-wrap: wrap;
        width: 100vw;
        .design-card {
            @include flexCenter();
            width: 50%;
            margin-bottom: 2rem;
            .design-card-image {
                img {
                    width: 30vw;
                }
            }
        }
    }
}

// DESIGN TEMPLATE

.design-content {
    .design-banner {
        @include flexCenter();
        flex-direction: column;
        height: 100vh;
        h1 {
            font-size: 8rem;
            -webkit-text-stroke: 1px;
            -webkit-text-fill-color: transparent;
        }
        .design-image-container {
            img {
                width: 30vw;
            }
        }
    }
    .design-about {
        @include flexCenter();
        flex-direction: column;
        width: 80%;
        h4 {
            font-size: 3rem;
        }
        .design-content-body {
            @include flexCenter();
            flex-direction: column;
            width: 80%;
            h6 {
                font-size: 2rem;
            }            
            img {
                width: 20vw;
            }                
            
            p {
                font-size: 2rem;
            }

        }
    }
}







// MUSIC PAGE //

.music-banner {
    @include flexCenter();
    flex-direction: column;
    height: 100vh;
    // background-color: rgb(91, 182, 137);
    h1 {
        font-size: 8rem;
        -webkit-text-stroke: 1px;
        -webkit-text-fill-color: transparent;
    }
}
.music-main {
    @include flexCenter();
    flex-direction: column;
    height: auto;
    h2 {
        margin: 1rem;
        font-size: 5rem;
        -webkit-text-stroke: 1px;
        -webkit-text-fill-color: transparent;          
    }
    .music-feed {
        @include flexCenter();
        flex-wrap: wrap;
        width: 80%;
        .music-card {
            @include flexCenter();
            width: 50%;
            height: 80vh;
            margin-bottom: 2rem;

            .music-card-image {
                img {
                    width: 30vw;
                }
            }
        }
    }        
}




// RESUME PAGE //

.resume-banner {
    @include flexCenter();
    flex-direction: column;
    height: 100vh;
    // background-color: rgb(91, 182, 137);
    h1 {
        font-size: 8rem;
        -webkit-text-stroke: 1px;
        -webkit-text-fill-color: transparent;
    }
}
.resume-main {
    @include flexCenter();
    flex-direction: column;
    height: auto;
    h2 {
        margin: 1rem;
        font-size: 5rem;
        -webkit-text-stroke: 1px;
        -webkit-text-fill-color: transparent;          
    }
    .resume-feed {
        @include flexCenter();
        flex-wrap: wrap;
        width: 80%;
        .resume-card {
            @include flexCenter();
            width: 50%;
            height: 80vh;
            margin-bottom: 2rem;

            .resume-card-image {
                img {
                    width: 30vw;
                }
            }
        }
    }        
}



// CONTACT //

.contact-main {
    width: 100%;
    height: 100vh;
    h1 {
        @include flexCenter();
        height: 40%;
        width: 100%;
        font-size: 6rem;
        -webkit-text-stroke: 1px;
        -webkit-text-fill-color: transparent;
    }
    .contact-content {
        @include flexCenter();
        height: 60%;
        width: 100%;
        .contact-col-6 {
            width: 50%;
            form {
                @include flexCenter();
                flex-direction: column;
                .contact-input {
                    label {
                        color: $black;
                        display: block;
                        font-size: 0.9em;
                        margin: 0;
                        input, select, textarea {
                            color: $black;
                            border: none;
                            border: solid 1px $black;
                            background-color: transparent;
                            text-decoration: none;
                            padding: 1rem 0.5rem;
                            margin: 1rem 0;
                        }
                    }                
                }            
            }
        }
    }
}



// RESPONSIVENESS

@media only screen and (max-width: 1000px) {
// BANNER //
.banner {
    h1 {
        position: relative;
        left: 50px;
        width: 70%;
        font-size: 4rem;
    }
    .banner-headshot {
        position: absolute;
        bottom: 80px;
        right: 150px;
        width: 40%;
    }
}


.site-head-container {
    // LEFT NAV //
    .site-head-left {
        nav {
            .navigation {
                .nav-list {
                    margin-left: 150px;
                }         
            }
        }
    }
}

}