
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Lato:wght@300&display=swap");

$background-color: rgb(255, 243, 223);
$hover-card-color: rgba(222, 184, 135, 0.4);
$hover-card-shadow: rgba(222, 184, 135, 0.7);
$lightgreen: #B1E2C6;
$darkgreen: #55916f;
$lightblue: #B1CCE2;
$darkblue: #487498;
$black: #181818;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $background-color;
}
h1, h2, h3, h4, h5, h6, p, li {
    font-family: 'Lato';
}

// NAVIGATION //

.site-head-container {
    @include flexCenter();
    width: 100%;
    
    // TOP NAV //
    .site-head-top {
        font-family: 'Lato';
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width: 100%;
        .site-head-top-content {
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                color: $black;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 101;
                &:hover {
                    img {
                        animation: logo 0.5s linear;
                    }
                }
                img {
                    width: 45px;
                }
                h2 {
                    font-family: 'Arvo', serif;
                    color: $black;
                    margin-left: 10px;
                    font-size: 1.7rem;
                }
            }
            .burger {
                @include flexCenter();
                margin: 0 4rem;
                height: 100%;
                background-color: transparent;
            }
            nav {
                @include flexCenter();
                width: 100vw;
                height: 100vh;
                transition: 0.8s ease-in-out;
                background-color: $darkblue;
                .navigation {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    .nav-list {
                        margin-left: 300px;
                        .nav-elements {
                            margin: 10px;
                            list-style: none;
                            &:after {
                                position: absolute;
                                top: -100px;
                                left: 400px;
                                display: block;
                                width: 80vw;
                                height: 70vh;
                                background-repeat: no-repeat;
                                background-size: 50vh;
                            }
                            &:hover {
                                position: relative;
                            }
                            &:hover:nth-child(2):after {
                                content: "";
                                background-image: url("../images/code.png");
                            }
                            &:hover:nth-child(3):after {
                                content: "";
                                background-image: url("../images/photo.png");               
                            }
                            &:hover:nth-child(4):after {
                                content: "";
                                background-image: url("../images/music.png");                        
                            }
                            &:hover:nth-child(5):after {
                                content: "";
                                background-image: url("../images/design.png");
                            }
                            a {
                                font-size: 3rem;
                                text-decoration: none;
                                // &:hover {
                                //     color: rgb(71, 173, 131);
                                // }
                            }
                        }
                    }         
                }
            }

        }
    }

    // LEFT NAV //
    .site-head-left {
        font-family: 'Lato';
        @include flexCenter();
        width: 100vh;
        height: 8rem;
        transform: rotate(-90deg);
        position: absolute;
        z-index: 300;
        .page-info {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 90%;
            height: 100%;
            position: absolute;
            bottom: 45vw;
            right: 55vh;
            .current-page {
                overflow: hidden;
                width: 30%;
                .current-page-items {
                    white-space: nowrap;
                    display: inline-block;
                    position: relative;
                    animation: message 10s infinite linear;   
                }
            }
            .header-date {
                .header-date-items {
                    @include flexCenter();
                    z-index: 103;
                    .date-line {
                        background-color: $black;
                        width: 30px;
                        height: 0.01rem;
                    }
                    h2 {
                        font-size: 0.8rem;
                        margin: 0 20px;
                    }
                }
            }
        }

    }
}

@keyframes burger{
    0% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(5px)
    }
    100% {
        transform: translateX(0)
    }
}
@keyframes logo {
    0% {
        transform: rotate(0);
    }
    20% {
        transform: rotate(20deg);
    }
    40% {
        transform: rotate(-20deg);
    }
    60% {
        transform: rotate(20deg);
    }
    80% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0);
    }
}
@keyframes message {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}



.circle-text {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 12rem;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 100;
    &:hover{
        transform: scale(1.1);
    }
    img {
        width: 100%;
        animation: rotate 10s linear infinite;
    }
}

@keyframes rotate{
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

// BANNER //

.banner {
    height: 100vh;
    @include flexCenter();
    .banner-title {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        h1 {
            width: 80%;
            font-size: 7rem;
            font-family: 'lato';
            margin-bottom: 1rem;
        }
        h3 {
            width: 80%;
            font-size: 2rem;
        }
    }
    .banner-headshot {
        @include flexCenter();
        width: 45%;
        img {
            height: 100%;
        }
    }
}

// HOME SECTIONS //

.home-section {
    @include flexCenter();
    flex-direction: column;
    height: 100vh;
    h3 {
        font-size: 4rem;
        margin-bottom: 4rem;
        text-align: center;
    }
    h4 {
        font-size: 3rem;
    }
    .home-mission {
        width: 80%;
        text-align: center;
    }
    .home-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .right-content {
            display: flex;
            justify-content: flex-end;
        }
        .col-6 {
            width: 45%;
            .col-6-container {
                width: 80%;
                p {
                    font-size: 2.3rem;
                    margin-bottom: 2rem;
                }
                button {
                    font-size: 1.1rem;
                    background-color: transparent;
                    color: $black;
                    border: 2px solid $black;
                    border-radius: 7px;
                    padding: 0.75rem 2.3rem;
                    box-shadow: #989898 3px 3px 5px;
                    transition: 0.1s ease;
                    &:hover {
                        cursor: pointer;
                        transform: translateX(-2px) translateY(-2px);
                        box-shadow: #989898 5px 5px 5px;
                    }
                    &:active {
                        box-shadow: none;
                    }
                }                
            }
            img {
                width: 90%;
            }

        }
    }
}

// PHOTOGRAPHY PAGE //
.photo-banner {
    height: 100vh;
    @include flexCenter();
    flex-direction: column;
    h1 {
        font-size: 8rem;
        z-index: 1;
    }
    .photo-banner-sqaure1{
        width: 32rem;
        height: 22rem;
        border-radius: 10px;
        position: absolute;
        top: 16%;
        transform: rotate(4deg);
        background-color: $hover-card-shadow;
    }
    .photo-banner-img {
        width: 25rem;
        img {
            width: 100%;
        }
    }
}

.photo-collections {
    @include flexCenter();
    flex-direction: column;
    background-color: rgb(250, 247, 140);
    h2 {
        font-size: 15rem;
    }
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 40px 0;
        border-top: 4px solid;
        color: $background-color;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            background-color: $hover-card-color;
        }
        .col-2 {
            @include flexCenter();
            width: 50%;
            .img {
                width: 80%;
            }
            h4 {
                font-size: 10rem;
            }
        }
    }
}

.photo-main {
    @include flexCenter();
    flex-direction: column;
    margin-bottom: 10rem;
    h2 {
        font-size: 7rem;
    }

    /// PHOTO FEED ///

    .photo-feed {
        @include flexCenter();
        flex-direction: column;
        width: 100vw;
        .photo-card {
            @include flexCenter();
            width: 90%;
            height: 80vh;
            margin: 2rem 0;
            background-color: $hover-card-color;
            box-shadow: 5px 5px 10px $hover-card-shadow;
            border-radius: 25px;
            transition: 0.3s ease;
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
            a {
                padding: 1rem;
                @include flexCenter();
                height: 100%;
                width: 100%;
                color: black;
                text-decoration: none;
                .photo-card-image {
                    @include flexCenter();
                    width: 40%;
                    img {
                        height: 100%;
                        width: 23vw;
                    }
                }
                .photo-card-content {
                    @include flexCenter();
                    flex-direction: column;
                    justify-content:space-around;
                    align-items: flex-start;
                    height: 40%;
                    width: 60%;
                    h4 {
                        font-size: 6rem;
                    }
                    p {
                        font-size: 4rem;
                    }
                }                
            }

        }
    }
}

// PHOTO TEMPLATE

.photo-content {
    overflow: hidden;
    .photo-banner {
        background-color: $background-color;
        height: auto;
        .photo-banner-content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            position: relative;
            top: 100px;
            h1 {
                width: 200%;
                font-size: 14rem;
                text-align: right;
            }
            h3 {
                font-size: 8rem;
                text-align: right;
            }
            .photo-image-container {
                display: flex;
                position: relative;
                right: -250px;
                margin-top: 3rem;
                .photo-image-main {
                    width: 35rem;
                    margin: 0 2rem;
                }
                .photo-image-secondary {
                    width: 35rem;
                }
            }
        }
    }
    .photo-about {
        @include flexCenter();
        width: 100%;
        height: auto;
        .photo-content-body {
            width: 90%;
            height: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            img {
                width: 20vw;
                margin: 2rem 0;
            }
        }
    }
}




// PROGRAMMING PAGE //

.code-banner {
    @include flexCenter();
    height: 100vh;
    width: 100%;
    font-family: 'Lato';
    .code-banner-content {
        @include flexCenter();
        flex-direction: column;
        text-align: center;
        width: 70%;
        h1 {
            @include flexCenter();
            font-size: 5rem;
            color: $black;
            margin-bottom: 2rem;
        }
        a {
            text-decoration: underline;
            color: $black;
            font-size: 2rem;
            transition: all 0.3s ease;
            &:hover {
                color: $darkblue;
                cursor: pointer;
            }
        }
    }
    .circle1 {
        z-index: -1;
        // filter: blur(10px);
        position: absolute;
        top: 90vh;
        height: 20vh;
        width: 100vw;
        background-color: $lightblue;
        z-index: 4;
    }
    .waves {
        position: absolute;
        top: 0;
        width: 100%;
        .wave-1, .wave-2, .wave-3 {
            position: absolute;
            top: 91vh;
            width: 40vw;
            animation: moveWave 7.5s ease-in-out infinite;
            img {
                width: 100%;
                height: 100%;
            }            
        }
        .wave-1 {
            left: 0;
        }
        .wave-2 {
            left: 30vw;
            animation-delay: 2.5s;
        }
        .wave-3 {
            left: 60vw;
            animation-delay: 5s;
        }
    }

}

@keyframes moveWave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6vh);
    }
    100% {
        transform: translateY(0);
    }
}

.code-main {
    @include flexCenter();
    flex-direction: column;
    margin: 5rem 0 10rem;
    h2 {
        font-size: 7rem;
    }

    /// PROJECT FEED ///

    .project-feed {
        @include flexCenter();
        flex-direction: column;
        width: 100vw;
        .project-card {
            @include flexCenter();
            width: 90%;
            height: 80vh;
            margin: 1rem 0;
            background-color: $hover-card-color;
            box-shadow: 5px 5px 10px $hover-card-shadow;
            border-radius: 25px;
            transition: 0.3s ease;
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
            a {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                width: 100%;
                text-decoration: none;
                color: black;
                .project-card-image {
                    @include flexCenter();
                    height: 90%;
                    width: 40%;
                    img {
                        height: 100%;
                        width: 35vw;
                    }
                }
                .project-card-content {
                    width: 50%;
                    h4 {
                        font-size: 4rem;
                        margin-bottom: 1rem;
                    }
                    p {
                        font-size: 2rem;
                    }
                }
            }

        }
    }
}

// PROGRAMMING TEMPLATE

.project-content {
    .project-banner {
        @include flexCenter();
        flex-direction: column;
        height: 100vh;
        text-align: center;
        max-width: 80%;
        margin-left: 10%;
        h1 {
            font-size: 6rem;
            margin: 1rem 0;
        }
        p {
            font-size: 2rem;
        }
        .project-image-container {
            img {
                width: 30vw;
            }
        }
    }
    .project-about {
        @include flexCenter();
        flex-direction: column;
        background-color: transparent;
        .project-content-body {
            width: 80%;
            background-color: transparent;
            img {
                width: 200px;
                background-color: transparent;
                margin: 2rem 0;
            }
            p {
                margin: 2rem 0;
                font-size: 2rem;
            }
        }
    }
}
.err {
    text-decoration: none;
    color: $black;
    display: inline-block;
    position:relative;
    transition: all 0.2s ease;
    &:hover {
        color: $darkblue;
    }
}


// DESIGN PAGE //

.design-banner {
    @include flexCenter();
    flex-direction: column;
    height: 100vh;
    .design-banner-img {
        width: 30rem;
        img {
            width: 100%;
        }
    }
    h1 {
        font-size: 8rem;
        margin-bottom: 1rem;
    }
    h4 {
        font-size: 2rem;
    }
}


.design-main {
    @include flexCenter();
    flex-direction: column;
    margin-bottom: 10rem;
    h2 {
        font-size: 7rem;
        margin: 3rem;
    }

    /// DESIGN FEED ///

    .design-feed {
        @include flexCenter();
        flex-wrap: wrap;
        width: 100%;
        .design-card {
            @include flexCenter();
            width: 45%;
            .design-card-image {
                @include flexCenter();
                width: 40vw;
                height: 45vw;
                margin-bottom: 2rem;
                overflow: hidden;
                transition: 0.3s ease;
                a {
                    text-decoration: none;
                }
                img {
                    width: 100%;
                    max-height: 100%;
                    // object-fit: cover;
                    z-index: 1;
                }
                .design-card-info {
                    @include flexCenter();
                    flex-direction: column;
                    color: white;
                    text-decoration: none;
                    position: relative;
                    z-index: 20;
                    opacity: 0;
                    transition: 0.3s all;
                    text-align: center;
                    position: relative;
                    height: 150px;
                    width: 100%;
                    bottom: 150px;
                    background-color: rgba(0, 0, 0, 0.7);
                    h4 {
                        font-size: 3rem;
                    }
                    p {
                        font-size: 1.75rem;
                    }
                }
                &:hover .design-card-info {
                    opacity: 1;
                }

            }
        }
    }
}

// DESIGN TEMPLATE

.design-content {
    @include flexCenter();
    width: 100%;
    .design-banner {
        @include flexCenter();
        height: 100vh;
        width: 100%;
        .design-image-container {
            @include flexCenter();
            width: 50%; // 100vw also looks cool
            img {
                width: 30vw;
                box-shadow: 10px 10px 10px $black;
            }
        }
        .design-about {
            @include flexCenter();
            flex-direction: column;
            width: 50%;
            text-align: center;
            h1 {
                font-size: 5rem;
                z-index: 2;
                margin-bottom: 1rem;
            }
            p {
                font-size: 2rem;
                z-index: 2;
                margin-bottom: 1rem;
            }
            .design-content-body {
                @include flexCenter();
                flex-direction: column;
                width: 100%;       
                p {
                    font-size: 2rem;
                }
    
            }
        }
        .design-image-background {
            @include flexCenter();
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            height: 100vh;
            width: 100%;
            filter: blur(25px);
            -webkit-filter: blur(25px);
            overflow: hidden;
        }
    }
}







// MUSIC PAGE //

.music-banner {
    @include flexCenter();
    height: 100vh;
    width: 100%;
    .banner1 {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        width: 60%;
        background-color: $lightblue;
        .banner1-content {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h1 {
                font-size: 6rem;
                margin-bottom: 1rem;
            }
            h4 {
                font-size: 2rem;
            }
        }
    }
    .banner2 {
        @include flexCenter();
        flex-direction: column;
        height: 100%;
        width: 40%;
        background: $lightgreen;
        .music-banner-mask {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            z-index: 3
        }
    }
}


.music-main {
    @include flexCenter();
    flex-direction: column;
    margin: 1rem 0 2rem;
    h2 {
        font-size: 7rem;
    }

    /// PROJECT FEED ///

    .project-feed {
        @include flexCenter();
        flex-direction: column;
        width: 100vw;
        .music-card {
            @include flexCenter();
            width: 90%;
            height: 80vh;
            margin: 1rem 0;
            background-color: $hover-card-color;
            box-shadow: 5px 5px 10px $hover-card-shadow;
            border-radius: 25px;
            transition: 0.3s ease;
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
            a {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                width: 100%;
                text-decoration: none;
                color: $black;
                .music-card-image {
                    @include flexCenter();
                    height: 90%;
                    width: 40%;
                    img {
                        height: 100%;
                        width: 35vw;
                    }
                }
                .music-card-content {
                    width: 50%;
                    h4 {
                        font-size: 4rem;
                        margin-bottom: 1rem;
                    }
                    p {
                        font-size: 2rem;
                    }
                }
            }

        }
    }
    .features-card {
        @include flexCenter();
        width: 90%;
        height: 80vh;
        margin: 1rem 0;
        background-color: $hover-card-color;
        box-shadow: 5px 5px 10px $hover-card-shadow;
        border-radius: 25px;
        transition: 0.3s ease;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
        a {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            width: 100%;
            text-decoration: none;
            color: $black;
            .music-card-image {
                @include flexCenter();
                height: 90%;
                width: 40%;
                img {
                    height: 100%;
                    width: 35vw;
                }
            }
            .music-card-content {
                width: 50%;
                h4 {
                    font-size: 4rem;
                    margin-bottom: 1rem;
                }
                p {
                    font-size: 2rem;
                }
            }       
        }

    }
}


// MUSIC TEMPLATE //
.music-content {
    margin-top: 5rem;
    width: 100%;
    .music-banner {
        @include flexCenter();
        flex-direction: column;
        .music-image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            .music-content-image {
                width: 40%;
                img {
                    max-width: 100%;
                }
            }
            .music-content-excerpt {
                height: 5%;
                transform: rotate(-90deg);
                font-size: 2.5rem;
            }
        }
        h1 {
            font-size: 7rem;
        }
    }
    .music-about {
        @include flexCenter();
        padding: 2rem 4rem;
        width: 100%;
        .music-content-body {
            // @include flexCenter();
            flex-direction: column;
            width: 100%;
            p {
                font-size: 2rem;
            }
            img {
                width: 20rem;
            }
        }
    }
}


// RESUME PAGE //

.resume-banner {
    @include flexCenter();
    height: 100vh;
    width: 100%;
    .resume-banner-content {
        @include flexCenter();
        flex-direction: column;
        text-align: center;
        width: 70%;
        h2 {
            font-size: 3rem;
        }
        h4 {
            font-size: 2rem;
        }        
    }
    button {
        position: absolute;
        bottom: 25px;
        background: transparent;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }

}
.resume-section {
    @include flexCenter();
    width: 100%;
    height: 100vh;
    .resume-section-content {
        @include flexCenter();
        flex-direction: column;
        text-align: center;
        h2 {
            font-size: 5rem;
        }
    }
}
.resume-main {
    @include flexCenter();
    flex-direction: column;
    text-align: center;
    height: auto;
    margin-bottom: 2rem;
    h2 {
        margin: 1rem;
        font-size: 5rem;         
    }
    .experience {
        @include flexCenter();
        flex-direction: column;
        font-family: 'Lato';
        width: 100%;
        margin: 1rem 0;
        min-height: 100vh;
        .experience-header {
            @include flexCenter();
            flex-direction: column;
            height: 30vh;
            h3 {
                font-size: 3.5rem;
                margin-bottom: 1rem;
            }
            h4 {
                font-size: 2.5rem;
            }            
        }
        .experience-content {
            @include flexCenter();
            width: 100%;
            .experience-description {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 90%;
                .experience-description-content {
                    margin: 1rem 0;
                    height: 60vh;
                    width: 45%;
                    @include flexCenter();
                    flex-direction: column;
                    text-align: left;
                    overflow-y: scroll;
                    scroll-behavior: smooth;
                    h4 {
                        font-size: 2.5rem;
                    }
                    a {
                        font-size: 1.1rem;
                        text-decoration: none;
                        background-color: transparent;
                        color: $black;
                        border: 2px solid $black;
                        border-radius: 7px;
                        padding: 0.75rem 2.3rem;
                        box-shadow: #989898 3px 3px 5px;
                        transition: 0.1s ease;
                        &:hover {
                            cursor: pointer;
                            transform: translateX(-2px) translateY(-2px);
                            box-shadow: #989898 5px 5px 5px;
                        }
                        &:active {
                            box-shadow: none;
                        }
                    }
                    ul {
                        height: 100%;
                        text-align: left;
                        li {
                            font-size: 2rem;
                            margin: 1.5rem 0;
                            overflow: hidden;
                            list-style: square;
                            span {
                                display: block;
                                // transform: translateY(200%);
                                &:active {
                                    transform: translateY(0%);
                                    transition: 1s ease-out;
                                }
                            }

                        }
                    }
                    .skills {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        li {
                            list-style: none;
                            font-size: 1.15rem;
                            padding: 10px 10px;
                            border: rgb(210, 210, 210) 1px solid;
                            border-radius: 5px;
                            margin: 10px 10px;
                            font-weight: 1500;
                        }
                    }
                }

            }
        }


    }
    .tech-skills {
        @include flexCenter();
        flex-wrap: wrap;
        width: 80%;
        .tech-skill-section {
            @include flexCenter();
            flex-direction: column;
            width: 30%;
            height: 50vh;
            margin: 1rem;
            border: 2px solid $black;
            h6 {
                font-size: 2rem;
            }
            ul {
                @include flexCenter();
                flex-wrap: wrap;
                li {
                    list-style: none;
                    font-size: 1.15rem;
                    padding: 10px 10px;
                    border: rgb(210, 210, 210) 1px solid;
                    border-radius: 5px;
                    margin: 10px 10px;
                    font-weight: 1500;
                }
            }
        }
    }
}


// CONTACT //

.contact-main {
    width: 100%;
    height: 105vh;
    h1 {
        @include flexCenter();
        height: 30%;
        width: 100%;
        font-size: 6rem;
    }
    .contact-content {
        @include flexCenter();
        height: 60%;
        width: 100%;
        .contact-col-6 {
            @include flexCenter();
            width: 50%;
            img {
                @include flexCenter();
                width: 100%;
            }
            form {
                @include flexCenter();
                flex-direction: column;
                width: 100%;
                .contact-input {
                    width: 60%;
                    label {
                        color: $black;
                        display: block;
                        font-size: 0.9em;
                        margin: 0;
                        input, select, textarea {
                            color: $black;
                            border: solid 1px $black;
                            border-radius: 5px;
                            background-color: transparent;
                            text-decoration: none;
                            padding: 1rem 1rem;
                            margin: 1rem;
                            width: 100%;
                        }
                    }                
                }  
                .actions {
                    width: 50%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    button, input {
                        padding: 1rem 2.5rem;
                        border: solid 1px $black;
                        border-radius: 5px;
                        background: transparent;
                        transition: 0.3s ease;
                        &:hover {
                            background: $lightblue;
                            cursor: pointer;
                        }
                    }
                }          
            }
        }
    }
}






// RESPONSIVENESS

@media only screen and (max-width: 1000px) {
// BANNER //
.banner {
    width: 100%;
    flex-direction: column-reverse;
    .banner-title {
        align-items: center;
        text-align: center;
        width: 80%;
        h1 {
            width: 100%;
            font-size: 4rem;
        }
        h3 {
            width: 100%;
            font-size: 1.5rem;
        }
    }
    .banner-headshot {
        width: 80%;
        img {
            width: 20rem;
        }
    }
}

.home-section {
    h3 {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }
    .home-content {
        flex-direction: column;
        .col-6 {
            width: 90%;
            .col-6-container {
                width: 100%;
                p {
                    margin: 1rem 0;
                }
            }
        }
    }
}
.home-section:nth-child(even) {
    .home-content {
        flex-direction: column-reverse;
    }
}


.site-head-container {
        // TOP NAV //
        .site-head-top {
            .site-head-top-content {
                nav {
                    .navigation {
                        .nav-list {
                            margin-left: 100px;
                        }         
                    }
                }
    
            }
        }
    // LEFT NAV //
    .site-head-left {
        .page-info {
            margin: 0 1rem;
        }
        nav {
            .navigation {
                .nav-list {
                    margin-left: 150px;
                    .nav-elements {
                        &::after {
                            display: none;
                        }
                    }
                }         
            }
        }
    }
}

.circle-text {
    width: 10rem;
}

.code-banner {
    .code-banner-content {
        width: 60%;
        h1 {
            font-size: 3rem;
        }
    }
    .waves {
        .wave-1, .wave-2, .wave-3 {
            top: 93.5vh;         
        }
    }
}

.code-main {
    h2 {
        text-align: center;
        font-size: 5rem;
    }
    .project-feed {
        .project-card {
            height: 60vh;
            padding: 3rem 0;
            a {
                flex-direction: column;
                .project-card-image {
                    width: 50%;
                    img {
                        width: 30vw;
                    }
                }
                .project-card-content {
                    width: 90%;
                    text-align: center;
                    h4 {
                        font-size: 3.5rem;
                    }
                    p {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.project-content {
    .project-banner {
        h1 {
            font-size: 5rem;
        }
    }
}


.photo-banner {
    h1 {
        font-size: 4rem;
    }
    .photo-banner-sqaure1,  .photo-banner-sqaure2, .photo-banner-sqaure3{
        top: 22%;
    }
}

.photo-main {
    h2 {
        text-align: center;
        font-size: 4.5rem;
    }
    .photo-feed {
        .photo-card {
            height: 60vh;
            padding: 3rem 0;
            a {
                flex-direction: column;
                .photo-card-image {
                    height: 200px;
                    width: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    img {
                        width: 50vw;
                    }
                }
                .photo-card-content {
                    width: 90%;
                    text-align: center;
                    h4 {
                        font-size: 3.5rem;
                    }
                    p {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.music-banner {
    flex-direction: column-reverse;
    .banner1 {
        height: 40%;
        width: 100%;
        .banner1-content {
            h1 {
                font-size: 3.5rem;
            }
        }
    }
    .banner2 {
        width: 100%;
        height: 60%;
    }
}

.music-main {
    h2 {
        text-align: center;
        font-size: 5rem;
    }
    .project-feed {
        .music-card {
            height: 60vh;
            padding: 3rem 0;
            a {
                flex-direction: column;
                .music-card-image {
                    width: 60%;
                    img {
                        width: 25vw;
                    }
                }
                .music-card-content {
                    width: 90%;
                    text-align: center;
                    h4 {
                        font-size: 3.5rem;
                    }
                    p {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.design-banner {
    text-align: center;
    h1 {
        font-size: 5rem;
    }
    h4 {
        width: 70%;
    }
}

.design-main {
    h2 {
        text-align: center;
        font-size: 5rem;
    }
    .design-feed {
        flex-wrap: nowrap;
        flex-direction: column;
        .design-card {
            width: 90%;
            .design-card-image {
                width: 100%;
                img {
                    width: 90vw;
                }
            }
        }
    }
}

.design-content {
    .design-banner {
        .design-image-container {
            width: 50%;
            img {
                width: 100%;
            }
        }
        .design-about {
            width: 80%;
        }
    }
}
}

@media only screen and (max-width: 700px) {
// TOP NAV //
.site-head-container {
    .site-head-top {
        .site-head-top-content {
            nav {
                .navigation {
                    .nav-list {
                        margin-left: 70px;
                        .nav-elements {
                            a {
                                font-size: 2rem;
                            }
                        }
                    }         
                }
            }
        }
    }    
}

.banner {
    .banner-title {
        h1 {
            font-size: 2rem;
        }
        h3 {
            font-size: 1rem;
        }
    }
}

.code-main {
    .project-feed {
        .project-card {
            a {
                .project-card-image {
                    width: 50%;
                }
            }
        }
    }
}

.project-content {
    .project-banner {
        .project-content-image {
            img {
                width: 40vw;
            }
        }
        h1 {
            font-size: 3.5rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}


.music-main {
    .project-feed {
        .music-card {
            a {
                .music-card-image {
                    width: 60%;
                    img {
                        width: 40vw;
                    }
                }
            }
        }
    }
}


.design-banner {
    .design-banner-img {
        width: 18rem;
    }
    h1 {
        font-size: 2.8rem;
    }
    h4 {
        font-size: 1.5rem;
    }
}
.design-main {
    .design-feed {
        .design-card {
            .design-card-image {
                .design-card-info {
                    h4 {
                        font-size: 2.5rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}
.design-content {
    .design-banner {
        .design-image-container {
            width: 75%;
            img {
                width: 100%;
            }
        }
        .design-about {
            width: 100%;
            h1 {
                font-size: 2.7rem;
            }
            p {
                font-size: 1.3rem;
            }
        }
    }
}
}
